<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SampleSuite">
<groups>
<define name = "Smoke Test">
<include name ="feature1"/>
<include name ="feature2"/>
</define>

<define name = "Regression Test">
<include name ="feature2"/>
<include name ="feature3"/>
</define>


<run>
<exclude name ="Regression Test"/>
</run>


</groups>
  <test thread-count="5" name="ModuleOneTesr">
    <classes>
      
      <class name="testScripts.SampleThreeTest"/>
      <class name="testScripts.SampleFourTest"/>
    </classes>
  </test> <!-- ModuleOneTesr -->
</suite> <!-- SampleSuite -->
